#compose-view {
  width: 550px;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 5rem;
  visibility: hidden;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 5px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

#compose-view .card {
  height: 100%;
  border: none;
}

#compose-view .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#compose-close {
  cursor: pointer;
  font-size: 1.4rem;
}

#compose-view form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#compose-view input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

#compose-body {
  height: 100%;
  resize: none;
  border: none;
  outline: none;
}

#compose-prebody span {
  color: rgba(128, 128, 128);
  font-size: 0.8rem;
}

#compose-prebody p {
  height: 10em;
  font-size: 0.9rem;
  padding: 0 1em;
  overflow: auto;
}

#compose-send {
  width: fit-content;
}

.show-compose {
  visibility: visible !important;
}
