#emails-view {
  height: 100%;
  padding-top: 3rem;
  overflow-y: auto;
  position: relative;
}

#emails-header {
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

#emails-container {
  height: 100%;
  overflow: auto;
}

.emails-noemail {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.summary {
  height: 3rem;
  display: grid;
  grid-template-columns: 20rem 1fr max-content;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.summary .sender {
  padding-left: 1.5rem;
}

.summary .data {
  color: grey;
  width: 100%;
  overflow: hidden;
}

.summary .data p {
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.summary .data span {
  color: black;
  font-weight: bold;
}

.summary .time {
  text-align: end;
  padding: 0 1rem;
}

.archive button {
  outline: none;
  border: 1px solid gray;
  border-radius: 10px;
  margin: 0 1rem;
  padding: 0.2rem 0.5rem;
  font-size: 0.8rem;
}

.archive button:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2) !important;
}

.summary:hover {
  cursor: pointer;
  background-color: rgba(128, 128, 128, 0.2) !important;
}
