::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

p,
span {
  padding: 0;
  margin: 0;
}

.login-container,
.register-container {
  height: 100vh;
}

.login-container .card,
.register-container .card {
  min-width: 450px;
}

/* INBOX */
.inbox-container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(12, 1fr);
}

.inbox-logo {
  grid-area: 1 / 1 / 2 / 4;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.inbox-header {
  grid-area: 1 / 4 / 2 / 17;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.inbox-menu {
  grid-area: 2 / 1 / 13 / 4;
  border-right: 1px solid rgba(128, 128, 128, 0.2);
}

.inbox-content {
  grid-area: 2 / 4 / 13 / 17;
  position: relative;
}

.m-flex {
  height: 100%;
  display: flex;
}

.inbox-logo > div {
  justify-content: center;
  align-items: center;
}

.inbox-header > div {
  justify-content: space-between;
  align-items: center;
}

/* INBOX MENU */
.inbox-menu > div {
  flex-direction: column;
  align-items: flex-start;
}

.inbox-menu button {
  width: 95%;
  background-color: white;
  border-radius: 0 5rem 5rem 0;
  border: none;
  outline: none;
  text-align: start;
}

.inbox-menu button:hover {
  background-color: #007bff1a;
}

.active-inbox-button {
  cursor: default;
  color: black;
  font-weight: bold;
  background-color: #007bff60 !important;
}

/* INBOX CONTENT */
#emails-view {
  height: 100%;
  overflow-y: auto;
}

#emails-container > div {
  height: 3rem;
  display: grid;
  grid-template-columns: 4fr 7fr 1fr;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

.emails-data {
  color: grey;
  width: 100%;
  overflow: hidden;
}

.emails-data p {
  width: calc(100%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.emails-data span {
  color: black;
  font-weight: bold;
}

.emails-time {
  text-align: end;
}

#compose-view {
  width: 550px;
  height: 500px;
  position: absolute;
  bottom: 0;
  right: 5rem;
  visibility: hidden;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0 5px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 10px 10px 0 0;
}

#compose-view .card {
  height: 100%;
  border: none;
}

#compose-view textarea {
  height: 100%;
  resize: none;
}

#compose-view form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#compose-view input {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

#compose-view textarea {
  border: none;
  outline: none;
}

#compose-view button {
  width: fit-content;
}

.show-compose {
  visibility: visible !important;
}
